header > #headerInfoPanel {
  background-color: #e5e5e5;
  color: #919395;
  height: 6rem; }
  header > #headerInfoPanel #headerLogoContainer,
  header > #headerInfoPanel #headerDropdownContainer,
  header > #headerInfoPanel #headerUserInfoContainer {
    height: 6rem;
    width: 100%; }
  header > #headerInfoPanel #headerUserInfoContainer {
    text-align: center; }
  header > #headerInfoPanel #headerLogo {
    max-height: 5rem;
    max-width: 100%; }
  header > #headerInfoPanel #headerTitle {
    color: #686868;
    font-size: 1rem; }
  header > #headerInfoPanel #headerUserProfileImage {
    border-radius: 50%;
    width: 4rem; }
  header > #headerInfoPanel #headerUsersName {
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 .75rem;
    font-size: 1rem;
    height: 1.8rem; }
  header > #headerInfoPanel #headerLogoutButton {
    margin: 0 .75rem;
    padding: .3rem 1.9rem; }
  header > #headerInfoPanel select {
    color: initial;
    margin-top: 5px;
    padding: 5px;
    width: 85%; }

.hidden {
  display: none; }

[class^='col-'] {
  padding: 0; }

html {
  font-size: 16px; }

input[type='checkbox'],
input[type='radio'] {
  width: initial;
  margin-left: 10px; }

button {
  background-color: #00b7a6;
  padding: 5px 40px;
  border: 0;
  font-weight: bold; }

input,
select,
textarea {
  margin: 2px;
  border: 1px solid #00b7a6;
  width: 100%; }
  input:disabled,
  select:disabled,
  textarea:disabled {
    background-color: #EBEBE4; }

td {
  padding: 0 5px; }

p {
  margin: 20px 0; }

label {
  font-weight: initial;
  margin-bottom: initial; }

#dashboard main {
  height: calc(100vh - 6rem); }
  #dashboard main content {
    height: 100%;
    overflow: auto; }
    #dashboard main content > div {
      padding: 2rem; }
      #dashboard main content > div .sectionHeader {
        width: 100%;
        text-align: center; }
        #dashboard main content > div .sectionHeader img {
          border-radius: 50%; }
        #dashboard main content > div .sectionHeader td:not(:last-of-type) {
          width: 8rem; }
        #dashboard main content > div .sectionHeader td:last-of-type {
          text-align: right; }
          #dashboard main content > div .sectionHeader td:last-of-type select {
            width: 9rem; }
      #dashboard main content > div #dashboard .dashboardNewsUpdates,
      #dashboard main content > div #dashboard .dashboardReporting {
        height: 8rem;
        border: 1px solid black;
        margin: .75rem;
        overflow: auto; }
      #dashboard main content > div #dashboard .downloadContainer {
        text-align: center; }
        #dashboard main content > div #dashboard .downloadContainer img {
          width: 30%;
          display: block;
          margin-left: 35%;
          margin-bottom: 1rem; }
        #dashboard main content > div #dashboard .downloadContainer button {
          background-color: transparent;
          padding: 0;
          color: #00b7a6; }
      #dashboard main content > div #properties .propertyOverview {
        width: 100%;
        font-size: 1rem; }
        #dashboard main content > div #properties .propertyOverview .propertyMap {
          width: 3rem;
          cursor: pointer; }
        #dashboard main content > div #properties .propertyOverview .propertySubpage {
          width: 2rem;
          cursor: pointer; }
        #dashboard main content > div #properties .propertyOverview .addressFirst {
          font-weight: bold;
          font-size: 1.1rem; }
      #dashboard main content > div #propertySubpage .nav {
        width: 100%; }
        #dashboard main content > div #propertySubpage .nav td {
          cursor: pointer; }
      #dashboard main content > div #propertySubpage .value {
        display: inline-block; }
      #dashboard main content > div #propertySubpage .bookings,
      #dashboard main content > div #propertySubpage .photos,
      #dashboard main content > div #propertySubpage .links,
      #dashboard main content > div #propertySubpage .management,
      #dashboard main content > div #propertySubpage .admin {
        display: none; }
      #dashboard main content > div #propertySubpage table#bookingCalendar {
        width: 100%; }
        #dashboard main content > div #propertySubpage table#bookingCalendar th {
          color: black;
          text-align: center; }
      #dashboard main content > div #propertySubpage .reservationCalendar {
        padding: 0; }
        #dashboard main content > div #propertySubpage .reservationCalendar li.tile {
          width: calc(100% / 7);
          display: inline-block;
          color: black;
          position: relative;
          float: left;
          border: 1px solid rgba(127, 255, 212, 0.5); }
          #dashboard main content > div #propertySubpage .reservationCalendar li.tile .date {
            padding: 1.5% 5% 80% 6%;
            text-align: left; }
          #dashboard main content > div #propertySubpage .reservationCalendar li.tile .reservationMarker {
            position: absolute;
            top: 50%;
            left: -1px;
            right: -1px;
            height: 18px;
            background-color: #12a144; }
            #dashboard main content > div #propertySubpage .reservationCalendar li.tile .reservationMarker.blockedDate {
              background-color: darkgrey; }
            #dashboard main content > div #propertySubpage .reservationCalendar li.tile .reservationMarker.reservationStartMarker {
              left: 25%;
              border-radius: 10px 0 0 10px; }
            #dashboard main content > div #propertySubpage .reservationCalendar li.tile .reservationMarker.reservationEndMarker {
              right: 85%;
              border-radius: 0 10px 10px 0; }
            #dashboard main content > div #propertySubpage .reservationCalendar li.tile .reservationMarker .guestName {
              position: absolute;
              text-align: center;
              z-index: 2;
              color: white;
              white-space: nowrap;
              width: 100%;
              font-weight: bold; }
            #dashboard main content > div #propertySubpage .reservationCalendar li.tile .reservationMarker .reservationGuestThumbnail {
              border-radius: 50%;
              position: absolute;
              z-index: 1;
              height: 45px;
              top: -15px;
              left: 3px; }
              @media (max-width: 550px) {
                #dashboard main content > div #propertySubpage .reservationCalendar li.tile .reservationMarker .reservationGuestThumbnail {
                  height: 40px;
                  top: -10px; } }
          #dashboard main content > div #propertySubpage .reservationCalendar li.tile .bookingPrices {
            position: absolute;
            bottom: 5px;
            left: 30%; }
      #dashboard main content > div #requests .requestOverview {
        width: 100%;
        font-size: 1rem; }
      #dashboard main content > div #requests .addressFirst {
        font-weight: bold;
        font-size: 1.1rem; }
  #dashboard main .burgerMenu {
    display: none;
    position: absolute;
    left: 10px;
    top: 105px;
    width: 32px;
    cursor: pointer;
    z-index: 2; }
    @media (max-width: 768px) {
      #dashboard main .burgerMenu {
        display: block; } }
  #dashboard main nav {
    box-shadow: 3px 0 30px 0 #e5e5e5;
    height: 100%;
    z-index: 1;
    background-color: white;
    position: static; }
    @media (max-width: 768px) {
      #dashboard main nav {
        position: absolute;
        left: -50vw;
        height: calc(100% - 6rem); } }
    #dashboard main nav:hover {
      cursor: pointer; }
    #dashboard main nav table {
      width: 100%; }
      #dashboard main nav table td {
        width: 20%;
        padding: 0; }
        #dashboard main nav table td div {
          margin: 3%;
          height: 4em;
          text-align: center;
          padding-top: 1.3em;
          font-size: 1.1em;
          font-weight: bold;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          #dashboard main nav table td div:hover {
            background-color: white; }
          #dashboard main nav table td div.active {
            background-color: #00b7a6;
            color: #fff; }
        #dashboard main nav table td .admin {
          display: none; }
    #dashboard main nav #sidebarAdmin {
      text-align: center; }
    #dashboard main nav #sidebarFooter {
      position: absolute;
      bottom: 1rem;
      left: 0;
      border-top: 1px solid #c3c3c3;
      width: 25%; }
      @media (max-width: 768px) {
        #dashboard main nav #sidebarFooter {
          width: 100%; } }
      #dashboard main nav #sidebarFooter #copyright {
        text-align: center;
        height: 2rem;
        font-size: .9rem; }
      #dashboard main nav #sidebarFooter .footerLink {
        text-align: center;
        border-right: 1px solid #e5e5e5;
        height: 1.9rem; }
        #dashboard main nav #sidebarFooter .footerLink:last-of-type {
          border-right: 0; }

.fa {
  display: none; }
  .fa.fa-check {
    color: #0F0; }
  .fa.fa-times {
    color: #F00; }
  .fa.fa-15x {
    font-size: 1.5em; }
